.futuries {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  & > .futuries__item {
    &:not(:last-child) {
      margin-bottom: $basic-margin;
    }

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $dekstop) {
      flex-basis: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }
}

.futuries__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-button;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: $basic-margin;
  border-radius: 4px;
}

.futuries__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.futuries__paragraph {
  font-size: 14px;
  line-height: 1.71;
  color: $acent-color;
}
