.header {
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav {
  display: flex;
  align-items: center;

  // @media screen and (max-width: 1199px) {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
  @media screen and (min-width: $tablet) {
    gap: 80px;
  }
}
