body {
  position: relative;
  font-family: $font-family;
  font-style: $font-style;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: 0.03em;
  background-color: $primary-white-color;
  color: $main-text-color;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: $button-color;
  }
}
