.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 738px;
  }

  @media screen and (min-width: $dekstop) {
    max-lines: 1170px;
  }
}
