.container {
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 738px;
  }

  @media screen and (min-width: $dekstop) {
    width: 1170px;
  }
}
