.footer {
  background-color: $background-color;

  & .container {
    height: 603px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  & .logo {
    font-size: 24px;
    line-height: 1.17;
    justify-content: center;
  }
  & .logo-studio {
    color: $primary-white-color;

    @media screen and (min-width: $dekstop) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
}

.foot-adress {
  padding: 60px 0;
}

.footer-adress {
  line-height: 1.17;
  font-style: normal;
  color: $primary-white-color;
  background-color: $background-color;
  margin-top: 20px;

  &-item:last-child {
    margin-top: 9px;
  }

  & .link {
    color: rgba(255, 255, 255, 0.6);

    transition: color $animation;
  }
}

.footer-info {
  margin-top: 9px;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  text-align: center;
}

.foot-list {
  padding-bottom: 60px;
  margin: 0 auto;
}

.foot-icons {
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ftr-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  color: $primary-white-color;
  background-color: $icons-foot;

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $button-color;
  }
}

.mail-podpis {
  display: block;
}

.input-podpis {
  width: 450px;
}
