.footer {
  background-color: $background-color;
  padding: 60px 0;

  & .container {
    display: flex;
    align-items: baseline;
  }

  & .logo-studio {
    color: $primary-white-color;
  }
}

.footer-adress {
  line-height: 1.71;
  font-style: normal;
  color: $primary-white-color;
  background-color: $background-color;
  margin-top: 20px;
  align-items: baseline;

  &-item:last-child {
    margin-top: 9px;
  }

  & .link {
    color: rgba(255, 255, 255, 0.6);

    transition: color $animation;
  }
}

.footer-info {
  margin-top: 9px;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.foot-list {
  margin-left: 70px;
}

.foot-icons {
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ftr-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  color: $primary-white-color;
  background-color: $icons-foot;

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $button-color;
  }
}
