.hero {
  max-width: 1600px;
  background-color: $background-color;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//images/hero-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $dekstop) {
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;

  margin: 0 auto;
  margin-bottom: $basic-margin;
  max-width: 370px;
  text-align: center;

  @media screen and (min-width: $dekstop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
