.logo {
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: $button-color;

  @media screen and (min-width: $dekstop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-studio {
  color: $black-logo;
}
