.logo {
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $button-color;
  display: flex;
  align-items: center;
}

.logo-studio {
  color: $color-logo;
}
