.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity $animation, visibility $animation;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-height: 100%;

  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $animation;

  @media screen and (max-width: 479px) {
    max-width: 450px;
  }

  @media screen and(min-width:480px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: color $animation;

  &:focus-within,
  &:hover {
    color: $button-color;
  }
}
