.navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: auto;
  }
}
.navigation__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 93px;

    &:last-child {
      margin-left: auto;
    }
  }
}

.navigation__item + .navigation__item {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.navigation__item {
  @media screen and (min-width: $tablet) {
    position: relative;
  }

  @media screen and (max-width: 767px) {
    display: block;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.navigation__link {
  color: $main-text-color;
  transition: color $animation;

  &--active {
    color: $button-color;
  }

  &:hover,
  &:focus {
    color: $button-color;
  }

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    &--active::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $button-color;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
