.mail-podpis {
  display: flex;
  margin-top: 20px;

  background-color: transparent;
}

.input-podpis {
  width: 350px;
  padding: 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
}
.modal-svg {
  fill: currentColor;
}

.podpis {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: 12px;
  background-color: $button-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-left: 29px;
}

.email-icons {
  margin: 13px 28px 13px 10px;
  fill: currentColor;
}
