$main-text-color: #212121;
$acent-color: #757575;
$primary-white-color: #ffffff;
$button-color: #2196f3;
$background-color: #2f303a;
$background-button: #f5f4fa;
$background: #188ce8;
$color-logo: #000000;

$icons-color: #afb1b8;
$icons-foot: rgba(255, 255, 255, 0.1);

$padding-section: 94px;
$basic-margin: 30px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$font-family: Roboto, sans-serif;
$font-style: 400;
$font-size: 14px;
$font-weight: 400;
